@use 'themes/spacing' as spacing;
@use 'themes/layout' as layout;

.tabs {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 spacing.$unit;
  gap: spacing.$unit-half;
}

.tab-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: spacing.$unit-half;
  background: none;
  border: none;
  border-radius: 500px;
  cursor: pointer;
  transition: background-color var(--transition-fast);

  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }

  &.active {
    background: rgba(0, 0, 0, 0.06);
  }
}

.tab-avatar {
  width: spacing.$unit * 3.5;
  height: spacing.$unit * 3.5;
  border-radius: spacing.$unit * 1.75;
  background: #efefef;
  display: block;
}

/* Tab Content / Panels */
.tab-content {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.panel {
  display: none;
  flex-direction: column;
  height: 100%;
  padding: spacing.$unit;
  gap: spacing.$unit;
  overflow-y: auto;

  &.active {
    display: flex;
  }
}

.actions {
  display: flex;
  gap: spacing.$unit;
  flex-shrink: 0;

  .button {
    flex: 1;
  }
}
